/*
Name: Jawanza Thompson
File: style.css
Date: 27 February 2026
Description: Stylesheet for biography page assignment. This file controls layout,
typography, colors, spacing, and overall visual presentation of the page.
*/